/* .sections--base {
    margin: 20% 20% 20% 20%;
    align-items: center;
    text-align: center;
    display: block;
    justify-content: center;
    box-shadow: rgba(0, 64, 128, 0.2) 0px 10px 40px -10px;
    padding: 0.1rem;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 968px;
}

.about--summary {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    width: 768px;
    padding: 1.5rem 1.5rem 0px;
}

.info-card-container {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    width: 768px;
    padding: 1.5rem 1.5rem 0px 1.5rem;
}
.info-card-container:not(:nth-last-child(1))::before {
    content: "";
    width: 0.3rem;
    background: rgb(240, 150, 53);
    position: absolute;
    left: 6.8%;
    z-index: 1;
    height: 100%;
}

.details-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 1rem 1.5rem 1.5rem;
    text-align: left;
}

.details-container h3, h4, h5 {
    margin: 0px 0px 5px 0px;
}

.logo-container {
    z-index: 1;
}

.logo-container img {
    width: 64px;
    height: 64px;
    z-index: 2;
    background-color: rgb(241, 247, 252);;
    border-radius: 50%;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    width: 768px;
    padding: 1.5rem 1.5rem 0px 1.5rem;
    justify-content: space-around;
}

.project-container {
    width: 47.5%;
    margin-bottom: 2rem;
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(0, 64, 128, 0.2) 0px 10px 40px -10px;
}
.project-container .body:hover .overlay {
    opacity: 1;
  }

.project-container .heading {
    font-size: 1rem;
    background-color: #fff;
    padding: 0.25rem 0px 0.25rem 0.25rem;
}

.project-container .body {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.project-container .body .overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(14, 4, 73);
    opacity: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease-in-out 0s;
}

.project-container .body .overlay .description-container {
    display: flex;
    text-align: center;
    max-width: 256px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.75s ease-in-out 0s;
}

.project-container .body .project-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out 0s;
    
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 768px;
    padding: 1.5rem 1.5rem 0px 1.5rem;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0.85rem 1.45rem;
    transition: color 0.25s ease-in-out 0s;
}

.skill-container.large .icon {
    font-size: 6.25rem;
    margin-bottom: 0.75rem;
}

.name {
    text-transform: capitalize;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 768px;
    padding: 1.5rem 1.5rem 0px 1.5rem;
}

.contact-container .social-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--font-light);
    padding-bottom: 2.25rem;
}

a {
    text-decoration: none;
}

.social-item-container {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1.25rem 0.5rem;
    max-width: 124px;
    color: var(--font-light);
}

.social-item-container .icon-container {
    font-size: 6.25rem;
}

.gh {
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 20px;
} */